<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        * Setting this password will overwrite any previous passwords.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <!-- <ion-icon slot="start" name="person"></ion-icon> -->
          <ion-label position="floating">Old Password</ion-label>
          <ion-input type="password" [(ngModel)]="password.old" name="opassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" [(ngModel)]="password.new" name="npassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="password.confirm" name="cpassword"></ion-input>
        </ion-item>

        <div class="btn-wrap">
          <ion-button type="submit" (click)="updatePassword()" expand="block" shape="round">
            Confirm
          </ion-button>
        </div>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>