<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoaded">
  <!-- to remove once done  -->
  <!-- <ion-button (click)="testing()" expand="block">
    address
  </ion-button> -->

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        Date: {{ createdAt.date }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="isBarber">
        <!-- <ion-icon slot="start" name="person"></ion-icon> -->
        <ion-label class="title" position="stacked">Customer:</ion-label>
        <ion-input type="text" readonly="true" class="capitalize">{{ userName }}</ion-input>
      </ion-item>

      <ion-item *ngIf="!isBarber">
        <!-- <ion-icon slot="start" name="person"></ion-icon> -->
        <ion-label class="title" position="stacked">Barber:</ion-label>
        <ion-input type="text" readonly="true" class="capitalize">{{ barberName }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="title" position="stacked">From: <small *ngIf="isBarber">(your location)</small></ion-label>
        <ion-input type="text" readonly="true" class="capitalize">{{ booking.barberLocation.address }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="title" position="stacked">To: <small *ngIf="!isBarber">(your location)</small></ion-label>
        <ion-input type="text" readonly="true" class="capitalize">{{ booking.userLocation.address }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="title" position="stacked">Status:</ion-label>
        <ion-input type="text" readonly="true" class="capitalize">{{ booking.status }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="title" position="stacked">Created at (Time):</ion-label>
        <ion-input type="text" readonly="true">{{ createdAt.time + ' ' + createdAt.period }}</ion-input>
      </ion-item>

      <ion-item *ngIf="booking.endAt !== null && booking.status === 'completed' ">
        <ion-label class="title" position="stacked">Completed at:</ion-label>
        <ion-input type="text" readonly="true">{{ endedAt.time + ' ' + endedAt.period }}</ion-input>
      </ion-item>

    </ion-card-content>

  </ion-card>

  <div class="btn-wrap">
    <ion-button *ngIf="isBarber && booking.status === 'accepted'" (click)="confirmationAlert('complete')" expand="block" color="danger">
      Complete
    </ion-button>

    <ion-button *ngIf="!isBarber && booking.status === 'requesting'" (click)="confirmationAlert('cancel')" expand="block" color="danger">
      Cancel
    </ion-button>
  </div>

</ion-content>